-vehicle_photos = Dir.glob("source/images/#{photopath}/photos/*.jpg")
-vehicle_thumbs = Dir.glob("source/images/#{photopath}/thumbs/*.jpg")
.wrap
  .vdp-container
    .header
      =image_tag("#{photopath}/cutout/cutout.png", class:'vehicle-list-cutout vdp-cutout')
      .year-make-model-vlp.vdp-car-title
        %span.collection-indicator
          -if current == true;
            Current Collection
          -else
            Past Collection
        %br
        #{year} #{make}
        %br
        %span
          =model
      .line
      .logo-container.vdp-logos
        .logo{class:"#{make}"}
        .logo{class:"#{model}"}
    .gallery-container#thumbnails
      -vehicle_thumbs.each do |thumb|
        %a{ href:"images/#{photopath}/photos/#{thumb.split('/').last}"}
          = image_tag("#{photopath}/thumbs/#{thumb.split('/').last}")
    .vdp-vehicle-info
      -if current == true
        .left-col.vdp-info-left
          %h2.vdp-info-title
            Description
          %p
            =description
        .right-col.vdp-info-right
          %h2.vdp-info-title
            Specs
          -if engine != "none"
            %h3.spec
              Engine
              %br
              %span
                = engine
          -if transmission != "none"
            %h3.spec
              Transmission
              %br
              %span
                = transmission
          -if exterior != "none"
            %h3.spec
              Exterior Color
              %br
              %span
                = exterior
          -if interior != "none"
            %h3.spec
              Interior
              %br
              %span
                = interior
          -if body != "none"
            %h3.spec
              Body Style
              %br
              %span
                = body
          -if rear_end_gear != "none"
            %h3.spec
              Rear End Gear
              %br
              %span
                = rear_end_gear


:javascript
  lightGallery(document.getElementById('thumbnails'), {
    thumbnail:true,
    fullScreen: true,
    mode: 'lg-fade',
    zoom: true,
    animateThumb: true,
    showThumbByDefault: true
  }); 