<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1,maximum-scale=1,user-scalable=no", name="viewport">
  <meta name="description" content="Vehicle details for <% page_classes %>">
  <meta name="keywords" content="Savannah Collector Car Classic Cars Muscle Exotic American Ferrari Corvette Demon Chevy">
  <title><%= @vehicle_name %> | Savannah RC</title>
  <link rel="shortcut icon" href="/images/site_assets/SRC.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <%= stylesheet_link_tag "lg-transitions" %>
  <%= stylesheet_link_tag "lightgallery" %>
  <%= stylesheet_link_tag "all" %>
</head>

<body class="<%= page_classes %>">
  <%= javascript_include_tag "lightgallery.min" %>
  <%= javascript_include_tag "lg-thumbnail.min" %>
  <%= javascript_include_tag "lg-zoom.min" %>
  <%= javascript_include_tag "lg-fullscreen.min" %>
  <%= partial "partials/nav_vehicles" %>
  <%= yield %>
  <%= partial "partials/footer" %>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <%= javascript_include_tag "site" %>
</body>
</html>
